#contact {
	padding-top: 56px;
	.cont-opacity {
		@include pictBg(url(../../dist/img/bg_contact3.jpg));
		.contenedor {
			height: 500px;
			background: rgba(0,0,0,.9);
			.row {
				margin-left: 0;
				margin-right: 0;
				a {
					.social {
						font-size: 150px;
						padding: 0 20px;
					}
				}
			}
		}
	}
}