
.header {
	@include pictBg(url(../../dist/img/bg_math.jpg));
	heigth: 100%;

	nav {
		.navbar-brand {
			color: $color_white;
			a:hover {
				color: $hover_link_footer;
				transition: .5s;
			}
		}

		#navbarNavAltMarkup {
			a {
				color: $color_white;
			}
			a:hover {
				color: $hover_link_footer;
				transition: .5s;
			}
		}

		.navbar-nav {
			font-size: 130%;
		}
	}

	.cont-opacity {
		background: rgba(0,0,0,0.7);
		height: 100vh;

		.text-presentation {
			height: calc(100% - 56px);
		    
		    position: absolute;
		    top: 56px;
		    width: 100%;

		    #name, #appointment {
		    	color: $color_white;
		    }
		}
	}
}