
#tools {
	.row {
		margin-left: 0;
		margin-right: 0;
		height: 150px;
		.cont_text, .cont_logo {
			height: 150px;
		}
		.cont_text {
			background-color: pink;
			font-size: 200%;
			p {
				padding: 0 15px;
				margin-bottom: 0;
			}
		}
		.cont_logo img {
			height: 100px;
			margin: 0 15px;
		}
	}

	@media (max-width: 1200px){
		.row {
			.cont_text {
				span {
					display: block;
				}
			}
		}
	}

	@media (min-width: 991px) and (max-width: 1070px){
		.row {
			.cont_logo img {
				height: 90px;
				margin: 0 10px;
			}
		}
	}

	@media (max-width: 991px){
		.row {
			height: 300px;
			.cont_text, .cont_logo {
				justify-content: center;
			}
			.cont_text {
				p {
					text-align: center;
				}
				span {
					display: inline-block;
				}
			}
			.cont_logo img {
				margin: 0 10px;
			}
		}
	}

	@media (max-width: 767px){
		.row {
			height: 260px;
			.cont_text, .cont_logo {
				height: 130px;
			}
			.cont_text {
				font-size: 180%;
			}
			.cont_logo img {
				height: 80px;
			}
		}
	}

	@media (max-width: 480px){
		.row {
			height: 250px;
			.cont_text, .cont_logo {
				height: 125px;
			}
			.cont_text {
				font-size: 170%;
			}
			.cont_logo img {
				height: 70px;
			}
		}
	}

	@media (max-width: 400px){
		.row {
			height: 250px;
			.cont_text, .cont_logo {
				height: 125px;
			}
			.cont_text {
				font-size: 170%;
			}
			.cont_logo img {
				height: 70px;
			}
		}
	}
}