
$color_one_overlay: rgb(255, 182, 201);
$color_two_overlay: rgb(80, 24, 81);

$color_black: black;
$color_white: white;
$color_whitesmoke: whitesmoke;
$color_pink: pink;

$hover_link_footer: rgb(176, 88, 143);